body {
    font-family: 'Times New Roman', Times, serif;
    background-color:#404258;
    margin:0;
    padding: 5px; 
}

header{
    background-color:#0A2647;
    margin: 0 auto 0 auto;
    width: 50%;
    height: 50px;
    padding: 5px;
    text-align: center;
}


ul a{
    color: white;
    text-decoration: none;
    margin: 0 auto 0 auto;
}

li {
    display: inline-block;
    height: 20px;
    width: 150px;
    padding: 8px;
    border-right: 2px solid #E1FFEE;
    border-left: 2px solid #FECD70;
    background-color:#E0144C;
}

li:hover{
    background-color: #FF1E00;
}

.container{
background-color: #FFE7BF;
width: 50%;
margin: 0 auto 0 auto;
padding: 5px;
}

p{
   margin: 0 auto 0 auto;;
}

.resim{
    height: 120px;
    padding: 6px;
    float: left;
    margin-right: 30px;
    border-radius: 60%;
}
.footer {
    line-height: 35px;
    background-color: #2A2550;
    font-family:Arial, Helvetica, sans-serif;
    color: #FDFF00;
    text-align: center;
    font-size: 12px;
    width:50%;
    margin: 0 auto 0 auto;
    padding: 5px;
}

/*****************cv*****************/

.title {
    text-align: center;
    color: #FDFF00;
    font-size: 20px;
}

.h3{
    padding-left: 26%;
    font-size: 14px;
    color: #3CCF4E;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.h4{
    padding-left: 26%;
    font-size: 12px;
    font-style: italic;
    color: #edf6ee;
    font-family:Arial;
}


.table1,.table2,.table3{
    margin: 0 auto 0 auto;
    width: 50%;
    border-collapse: collapse;
    background-color: #FFE7BF;
}

.td1,.td2,.td3{
    border: solid 1px;
    text-align: left;
    padding-left: 2px;
    margin:auto;
  border-color: #F1DDBF;
}

.caption1, .caption2{
    background-color: #FFE7BF;
    text-align: center;
    color: #367E18;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
}

/********************contact******************/
.form, input, textarea, select, button{
    display: block;
    margin: 0px auto 0px auto;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 300px;
    box-sizing: border-box;
}

figcaption{
    background-color:#E3DFFD;
    color:#B3005E;
}

.form-container{
    background-color: #FFE7BF;
    margin: 0 auto 0 auto;
    width: 50%;
    min-width:fit-content;
}

textarea{
    height: 100px;
    padding: 5px 5px;
}

button:hover{
    background-color: yellow;
    vertical-align: text-top;
}

button:active{
    background-color:#EB455F;
    color: white;
    vertical-align: text-top;
    box-shadow: inset 2px 2px 5px;
}
